body {
  font-familiy: arial, sans-serif;
  max-width: 400px;
  margin: 2em auto;
  padding: 1em;
  background: #f6f8fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

h2, h3 {
  color: #333;
  margin-button: 0.5em;
}

input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc ;
  font-size: 1em;
}

button {
  padding: 0.5em 1em; 
  margin-bootm: 1em;
  border: none;
  border-radius: 4px;
  background-colo: #2ee44f;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

img, video {
  margin-top: 1em;
  display: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}

img[style*="display:block"], video[style*="display:block"]{
  display: block;  
}

